QPushButton {
    background-color: rgb(79, 173, 94);
    color: white;
    border-radius: 15px;
    min-height: 50px;
    font-size: 20px
}

QPushButton#stop {
    background-color: rgb(233, 50, 58);
}

QPushButton:hover#stop {
    background-color: rgba(233, 50, 58, 0.9);
}

QPushButton:hover {
    background-color: rgba(79, 173, 94, 0.9);
}

QScrollArea {
    border-style: outset;
    border-width: 1px;
    border-color: black
}

QScrollBar {
    width: 0px
}